<!DOCTYPE html>
  {% load staticfiles %}
<html>
    <head>
        <title>{% block page_title %} {% endblock %}</title>
        
        
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

              
    <body>
       
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">< href="{% url 'profile' %}">Profile</a></li>
            <liclass="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <liclass="nav-item"><a href="{% url 'login' %}">Login</a></li>
            <liclass="nav-item"><a href="{% url 'registration' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
     <h1>{% block page_heading %} {% endblock %}</h1>
    {% if messages %}
    <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    
    </div>
    {% endif %} {% block content %}{% endblock %}
    
    </body>
    </head>
</html>